main{
    background-color: black;
    grid-area: main;
    overflow-y: auto;
}
.main-container{
    padding: 20px 35px;
}
.main-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin: 20px 0;
}

.card{
    display: flex;
    justify-content: space-between;
    height: 70px;
    padding: 25px;
    border: 0.2px solid gray;
    border-radius: 5px;
    background-color: black;
    box-shadow: 5px 5px 13px gray, -5px -5px -13px gray;
}
.card-inner{
    align-items: center;
    justify-content: space-between;
}
.card-inner > span {
    font-size: 25px;
}

.card:hover{
    background-color: rgb(40, 136, 173);
    border: none;
}
.card:hover p{
    color: white;
}

.charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 50px;
}

.charts-left {
    padding: 25px;
    border-radius: 5px;
    background: black;
    box-shadow: 1px 1px 1px gray, -1px -1px 3px gray;
}

.charts-left-title {
    align-items: center;
    justify-content: space-between;
}
.charts-left-title > div > h4{
    color: white;
    margin-bottom: 5px;
}
.charts-left-title > div > p {
    font-size: 14px;
    font-weight: 700;
    color: #a5aaad;
}

.charts-right-cards{
    background-color: black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px gray, -1px -1px 3px gray;
}

.charts-right-cards h4{
    color: white;
}

.charts-right-cards > div {
    display: grid;
    grid-template-columns: 0.5fr;
    gap: 10px;
    margin-top: 30px;
}
.card1 {
    display: flex !important;
    align-items: center;
}
.card2 {
    display: flex !important;
    align-items: center;
}
.card3 {
    display: flex !important;
    align-items: center;
}
.card4 {
    display: flex !important;
    align-items: center;
}
.card5 {
    display: flex !important;
    align-items: center;
}
.card1 p {
    color: skyblue;
}
.card2 p {
    color: rgb(40, 136, 173);
}
.card3 p {
    color: rgb(212, 81, 81);
}
.card4 p {
    color: rgb(255, 178, 126);
}
.card5 p {
    color: rgb(125, 72, 209);
}

.pie-chart{
    display: grid;
    grid-template-columns: 1.3fr 0.7fr;
    gap: 30px;
    margin-top: 50px;
}

.piecharts-right{
    background-color: black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px gray, -1px -1px 3px gray;
}

.piecharts-right h4{
    color: white;
}
.piecharts-left h4{
    color: white;
}
.piecharts-left{
    background-color: black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px gray, -1px -1px 3px gray;
}

.title-intro{
    display: flex;
    justify-content: space-between;
}

.middle-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin: 50px 0;
    justify-content: center;
}
.card-detail > span{
    font-size: 25px;
    text-align: center;
}
.card-detail1 > span{
    font-size: 25px;
}
.card-detail2 > span{
    font-size: 25px;
}
.card-detail3 > span{
    font-size: 25px;
}
.card-detail4 > span{
    font-size: 25px;
}

.card-detail1{
    border-right: 0.2px solid lightgray;
    text-align: center;
}
.card-detail2{
    border-right: 0.2px solid lightgray;
    text-align: center;
}
.card-detail3{
    border-right: 0.2px solid lightgray;
    text-align: center;
}
.card-detail4{
    text-align: center;
}
.text-blue{
    color: rgb(40, 136, 173);
    font-size: 12px;
}

.text-purple{
    color: rgb(135, 0, 177);
    font-size: 12px;
}
.text-red{
    color: rgb(212, 81, 81);
    font-size: 12px;
}

.middle-button{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: 50px 0;
    justify-content: center;
}

.blue-btn{
    border: none;
    background-color: rgb(40, 136, 173);
    padding: 20px;
    font-size: 14px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
}
.blue-btn:hover{
    background-color: rgba(12, 202, 183, 0.808);
}
.red-btn{
    border: none;
    background-color: rgb(212, 81, 81);
    padding: 20px;
    font-size: 14px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
}
.red-btn:hover{
    background-color: rgb(238, 67, 37);
}
.rise{
    color: tomato;
    font-size: 20px;
}

/* progress circle */

.progress{
    width: 80px;
    height: 80px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}
.progress:after {
    content: "";
    width: 50%;
    height: 50%;
    border-radius: 50%;
    border: 10px solid #f2f5f5;
    position: absolute;
    top: 0;
    left: 0;
}



.progress > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress .progress-left{
    left: 0;
}
.progress .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 15px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress .progress-right{
    right: 0;
}
.progress .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}
.progress .progress-value {
    width: 55%;
    height: 55%;
    font-size: 12px;
    color: rgb(250, 245, 245);
    text-align: center;
    position: absolute;
    bottom: 83px;
    right: 28px;
}


/* progress bar */

.progress-border {
    margin:20px auto;
    padding:0;
    width:70%;
    height:10px;
    overflow:hidden;
    background:#747272;
    border-radius:6px;
  }
  
  .bar {
    position:relative;
    float:left;
    min-width:1%;
    height:100%;
  }
  
  .percent {
      position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    margin:0;
    font-family:tahoma,arial,helvetica;
    font-size:12px;
    color:white;
  }



@media only screen and (max-width: 855px){
    .main-cards {
        grid-template-columns: 1fr;
        gap: 10px;
        margin-bottom: 0;
    }

    .charts {
        grid-template-columns: 1fr;
        margin-top: 30px;
    }
    .pie-chart {
        grid-template-columns: 1fr;
        margin-top: 30px;
    }
}