.navbar{
    background: black;
    grid-area: nav;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    border-bottom: 1px solid lightgray;
}
.navbar h2{
    color: white;
}
.search{
    background-color: black;
}
.menu-button{
    border: none;
    background-color: #339AF0;
    padding: 10px;
    font-size: 14px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
}
.menu-button:hover{
    background-color: darkblue;
    cursor: pointer;
}
.nav-icon{
    display: none;
}
.nav-icon{
    font-size: 50px;
    color: #a5aaad;
}

.navbar-left > a{
    margin-left: 30px;
    text-decoration: none;
    color: #a5aaad;
    font-size: 15px;
    font-weight: 700;
}
.navbar-left .active_link {
    color: #265acc;
    border-bottom: 3px solid #265acc;
    padding-bottom: 12px;
}
.navbar-right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-right > a{
    margin-left: 20px;
    text-decoration: none;
}
.navbar-right > a >input{
    border: none;
    margin-left: 2px;
}

.navbar-right > a > i {
    color: #a5aaad;
    font-size: 16px;
    border-radius: 50px;
    background: #ffffff;
    box-shadow: 2px 2px 5px #d9d9d9, -2px -2px 5px #ffffff;
    padding: 7px;
}

@media only screen and (max-width: 978px) {
    .nav-icon {
        display: inline;
    }
}
@media only screen and (max-width: 480px) {
    .navbar-left {
        display: none;
    }
}
